{% extends "./model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="{% static 'sale_point/css/view-this-object.css' %}">
{% endblock %}

{% block title %}
    Object_name
{% endblock %}

{% block content %}
    <section>
        <div class="container-medium">
            <div class="row container-object">
                <div class="left col-md-12 col-lg-6">
                    <img class="object-img" src="../../{{this_object.image}}" alt="image-photo">
                </div>
                <div class="right col-md-12 col-lg-6">
                    <div class="object-title">{{this_object.name}}</div>
                    <div class="object-description">
                        <h3>Description:</h3>
                        <p>{{this_object.description}}</p>
                    </div>
                    <div class="object-dimensions">{{this_object.name}} - {{this_object.dimension}}</div>
                    <div class="object-buy">
                        <p class="price">{{this_object.price|floatformat:2}}$ cad</p>
                        <div class="options">
                            <a class="cbtn" href="">
                                <button type="button" class="btn btn-outline-success">Acheter maintenant</button>   
                            </a>
                            <a class="cbtn" href="{% url 'sale_point:add-to-cart' product_id=this_object.id %}">
                                <button type="button" class="btn btn-primary">Ajouter au panier</button>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}