{% extends "./model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="{% static 'sale_point/css/view-objects.css' %}">
{% endblock %}

{% block title %}
    Objects
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                {% for object in all_objects %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <a href="{% url 'sale_point:view-this-product' id=object.id %}">
                        <div class="object-table">
                            <div class="object-top">{{object.price|floatformat:2}}$ cad</div>
                            <div class="object-middle">
                                <img class="object-img" src="../../{{object.image}}" alt="image-photo">
                            </div>
                            <div class="object-bottom">{{object.name}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{% static 'sale_point/js/view-objects.js' %}"></script>
{% endblock %}

