{% extends "./model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="{% static 'sale_point/css/create-account.css' %}">
{% endblock %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
<section class="center">
    <div class="container-medium">
        <form action="{% url 'auth_admin:login_user' next=back_page %}" method="post">
            {% csrf_token %}
            {{ field.errors }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}

            <input class="submit-inp" type="submit" value="Connecter vous">
        </form>
    </div>
</section>
{% endblock %}

{% block script %}

{% endblock %}

