{% extends "./model.html" %}
{% load static %}



{% block source %}
    <link rel="stylesheet" href="{% static 'sale_point/css/create-account.css' %}">
{% endblock %}

{% block title %}
    Create account
{% endblock %}

{% block content %}
    <section class="center">
        <div class="container-medium">
            <form action="{% url 'auth_admin:register' next=back_page %}" method="post">
                {% csrf_token %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <div class="left">
                            {% for field in form %}
                            {{ field.label_tag }}
                            {% endfor %}
                        </div>
                        <div class="right">
                            {% for field in form %}
                            {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                <input class="submit-inp" type="submit" value="Créer votre compte">
            </form>
        </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}

