{% extends "../model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="% static 'sale_point/css/cart.css' %">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}
Buy cool new product
{% endblock %}

{% block content %}
<section>
    <div class="product">
        <div class="description">
            <h3>{{ product.name }}</h3>
            <hr />
            <div>
                <h5>${{ product.get_display_price }}</h5>
                <form action="{% url 'sale_point:create-checkout-session' product.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}

{% endblock %}