{% extends "./model.html" %}
{% load static %}

{% block source %}
<link rel="stylesheet" href="{% static 'mpaf/css/home.css' %}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section>
    <div class="container-medium">
        <div class="container-box">
            <a class="box shop" href="{% url 'sale_point:view-objects' %}">
                <h3 class="box-title">Shop</h3>
            </a>
            <a class="box source" href="">
                <h3 class="box-title">Open Source</h3>
            </a>
            <a class="box space" href="">
                <h3 class="box-title">Open Space Learning</h3>
            </a>
            
            
            
        </div>
    </div>
</section>
{% endblock %}

{% block script %}

{% endblock %}