{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/model.css' %}">
    {% block source %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'mpaf:home' %}">
                    <span id="T">3</span>
                    <span id="D">D</span>
                    <span id="W">W</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>

                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                </div>
            </div>
        </nav>
        
        <!-- <div class="container-large">
            <div class="logo">
                <h1>
                    <a href="{% url 'mpaf:home' %}">
                        <span id="T">3</span>
                        <span id="D">D</span>
                        <span id="W">W</span>
                    </a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li class="simple-li">
                        <a href="{% url 'mpaf:home' %}">About</a>
                    </li>
                    <li class="container-connexion">
                        <div class="container-inline">
                            {% if logged_in %}
                            <a href="{% url 'mpaf:home' %}" class="user-panel">
                                <img class="chevron-down-solid" src="{% static 'sale_point\img\user-regular.svg' %}" alt="chevron-down">
                            </a>
                            {% else %}
                            <a href="{% url 'auth_admin:login_user' next=back_page %}" class="connect">
                                Connexion
                                -- <img class="chevron-down-solid" src="{% static 'sale_point\img\user-regular.svg' %}" alt="chevron-down"> --
                            </a>
                            {% endif %}
                            <img class="chevron-down-solid" src="{% static 'sale_point\img\chevron-down-solid.svg' %}" alt="chevron-down">
                        </div>
                        {% if logged_in %}
                        <a href="{% url 'auth_admin:logout_user' next=back_page %}" class="create">Déconexxion</a>
                        {% else %}
                        <a href="{% url 'auth_admin:register' next=back_page %}" class="create">Créer un compte</a>
                        {% endif %}
                    </li>
                    
                </ul>
            </nav>
        </div> -->
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-large">
            <div class="logo">
                <h1>
                    <span id="T">3</span>
                    <span id="D">D</span>
                    <span id="W">W</span>
                </h1>
            </div>
            <div class="policy">
                <h4>Droits d'auteur</h4>
                <h4>*</h4>
                <h4>Conditions d'utilisation</h4>
            </div>
        </div>
    </footer>

    {% block script %}
    {% endblock %}
    <script  src="../..{% static 'sale_point\js\model.js' %}"></script>
    
</body>
</html>