{% extends "../model.html" %}
{% load static %}



{% block source %}
    <link rel="stylesheet" href="{% static 'auth_admin/css/create-account.css' %}">
{% endblock %}

{% block title %}
    Create account
{% endblock %}

{% block content %}
    <section>
        <div class="container-medium">
            <div class="form-group">
               <form action="{% url 'auth_admin:register' next=back_page %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-outline-primary" type="submit" value="Créer votre compte">
                    <p><br>Vous avez déjà un compte? <a class="redirect" href="{% url 'auth_admin:login_user' next=back_page %}">Connectez-vous.</a></p>
                </form> 
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}

