.object-table {
    height: 16em;
    width: 12em;
    border: 2px solid black;
    margin: 2em auto;
    padding: 1em;
    background-color: #19535F;
    color: white;

    .object-top {
        text-transform: uppercase;
        display: flex;
        justify-content: flex-end;
    }

    .object-img {
        width: 100%;
    }

    .object-bottom {
        font-weight: 300;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 576px) {
    
    .object-table {
        height: 24em;
        width: 20em;
    }
}


