{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vente/css/model.css' %}">
    {% block source %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <div class="container-large">
            <div class="logo">
                <h1>
                    <a href="{% url 'home' %}">
                        <span id="T">3</span>
                        <span id="D">D</span>
                        <span id="W">W</span>
                    </a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li class="simple-li">
                        <a href="{% url 'home' %}">Acceuil</a>
                    </li>
                    <li class="simple-li">
                        <a href="{% url 'view-objects' %}">Boutique</a>
                    </li>
                    <li class="simple-li">
                        <a href="{% url 'panier' user_id=1 %}">Panier</a>
                    </li>
                    <li class="container-connexion">
                        <div class="container-inline">
                            <a href="{% url 'connexion' %}" class="connect">Connexion</a>
                            <img class="chevron-down-solid" src="{% static 'vente\img\chevron-down-solid.svg' %}" alt="chevron-down">
                        </div>
                        <a href="{% url 'create-account' %}" class="create">Créer un compte</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-large">
            <div class="logo">
                <h1>
                    <span id="T">3</span>
                    <span id="D">D</span>
                    <span id="W">W</span>
                </h1>
            </div>
            <div class="policy">
                <h4>Droits d'auteur</h4>
                <h4>*</h4>
                <h4>Conditions d'utilisation</h4>
            </div>
        </div>
    </footer>

    {% block script %}
    {% endblock %}
    <script  src="../..{% static 'vente\js\model.js' %}"></script>
    
</body>
</html>