{% extends "./model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="{% static 'vente/css/view-this-object.css' %}">
{% endblock %}

{% block title %}
    Object_name
{% endblock %}

{% block content %}
    <section>
        <div class="container-medium">
            <div class="container-object">
                <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}