{% extends "./model.html" %}
{% load static %}

{% block source %}
    <link rel="stylesheet" href="{% static 'vente/css/view-objects.css' %}">
{% endblock %}

{% block title %}
    Objects
{% endblock %}

{% block content %}
    <section>
        <div class="container-medium">
            <div class="container-objects">
                {% for object in all_objects %}
                <a href="{% url 'view-this-object' id=object.id %}">
                    <div class="object-table">
                        <div class="object-top">{{object.price|floatformat:2}}$ cad</div>
                        <div class="object-middle">
                            <img class="object-img" src="../../{{object.image}}" alt="image-photo">
                        </div>
                        <div class="object-bottom">{{object.name}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="{% static 'vente/js/view-objects.js' %}"></script>
{% endblock %}

