.container-medium {
    display: flex;
    justify-content: center;
}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * 0);
    padding-left: calc(var(--bs-gutter-x) * 0);
}

.container-object {
    border: 2px solid black;
    display: flex;

    .left {
        width: 20%;
        background-color: #19535F;
        .object-img {
            margin: auto;
            width: 100%;
        }
    }

    .middle {
        width: 50%;
        padding: .75em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .object-title {
            font-size: 1.6em;
        }

        p {
            margin: 0;
        }

        .price {
            display: block;
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .right {
        width: 30%;
        padding: .75em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .success {
            i {
                font-size: 5em;
                color: #46b11c;
            }
        }
    }

    
}